- name: Play for setting up development environment
  hosts: all
  become: false
  vars:
    user_home: "{{ lookup('ansible.builtin.env', 'HOME') }}"
    user: "{{ lookup('ansible.builtin.env', 'USER') }}"
    oh_my_zsh_path: "{{ lookup('ansible.builtin.env', 'ZSH') }}"
    teams_deb: teams_1.5.00.23861_amd64.deb

  pre_tasks:
    #  Adding ultradvorka/ppa seems to not be necessary on jammy, but maybe on focal and before?
    - name: Add ppa:ultradvorka/ppa apt repository (needed for hstr)
      ansible.builtin.apt_repository:
        repo: ppa:ultradvorka/ppa
        state: present
      become: true
      changed_when: false
    - name: Update apt repositories
      ansible.builtin.apt:
        update_cache: true
      become: true
      changed_when: false

  tasks:
    - name: Run playbook
      ansible.builtin.include_tasks: "{{ item }}"
      tags: [personal, work]
      loop:
        - roles/base.yml
        - roles/git.yml
        - roles/starship.yml
        - roles/zsh.yml
        - roles/vim.yml
        - roles/docker.yml
        - roles/rust.yml
        - roles/teams.yml
        - roles/vscode.yml
        - roles/yocto.yml
        - roles/terraform.yml
