- name: Check out dotfiles from repository
  git:
    repo: "{{ dotfiles_repo }}"
    dest: "/home/{{ user }}/dotfiles"
    accept_hostkey: yes
    key_file: "/home/{{ user }}/{{ ssh_key }}"
  become: yes
  become_user: "{{ user }}"

- name: Checking if dotfiles exist
  stat:
    path: "./home/{{ user }}/{{ item.dest }}"
  with_items: "{{ dotfiles }}"
  register: check_dotfile

- name: Create symbolic links to dotfiles file doesn't exist
  file:
    src: "/home/{{ user }}/{{ item.item.src }}"
    dest: "/home/{{ user }}/{{ item.item.dest }}"
    owner: "{{ user }}"
    group: "{{ user }}"
    state: link
  with_items: "{{ check_dotfile.results }}"
  when: not item.stat.exists

- name: Load dotfile in existing file
  blockinfile:
    path: "/home/{{ user }}/{{ item.item.dest }}"
    block: |
      if [ -f /home/{{ user }}/{{ item.item.src }} ]; then
        source ~/{{ item.item.src }}
      fi 
  with_items: "{{ check_dotfile.results }}"
  when: 
    - item.stat.exists 
    - item.item.is_bash
