- name: Install apt packages
  apt: name={{item}}
  with_items:
    - git
    - vim
    - hstr
    - bash-completion
    - zsh
    - curl
    - ruby-full

- name: Install snap packages
  snap:
    name: starship

-name: Install gem packages
  gem:
    name: colorls

