- name: Install apt packages
  apt: name={{item}}
  with_items:
    - git
    - vim-gtk3
    - hstr
    - bash-completion
    - zsh
    - curl
    - docker.io
    - python3
    - python3-pip
    - python-is-python3

- name: Install snap packages
  snap: name={{item}}
  with_items:
    - starship


