- name: Basic usage
  debug:
    msg: "{{ lookup('env', 'HOME') }}/.fonts"

- name: Create ~/.fonts if it does not exist
  file:
    path: "{{ lookup('env', 'HOME') }}/.fonts"
    state: directory

- name: Check if FiraCode is already installed
  stat:
    path: "~/.fonts/FiraCode*"
  register: result

- name: Download and unpack FiraCode font
  unarchive:
    src: https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/FiraCode.zip
    dest: ~/.fonts/
    remote_src: yes
  when: result.stat.exists
