---
name: Check job

on:
  push:
    branches-ignore:
      - main
  workflow_dispatch:

jobs:
  ansible-lint:
    uses: ./.github/workflows/ansible-lint.yml
  super-linter:
    name: Lint Code Base
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Lint Code Base
        uses: github/super-linter/slim@v4
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FILTER_REGEX_EXCLUDE: CHANGELOG.md

  provision:
    runs-on: ubuntu-22.04
    name: Run ansible playbook on GitHub runner.
    needs: [ansible-lint, super-linter]
    strategy:
      matrix:
        group: [personal, work]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Provision runner
        run: ansible-playbook -i inventory.yml -l ${{ matrix.group }} setup_playbook.yml --tags ${{ matrix.group }}
